.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #FFEF03 0%, #F97304 50%, #00AAFF 100%) no-repeat fixed;
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-box h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 800;
    color: #1A1A1A;
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login-box button {
    background: #1A1A1A;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #444;
  }
  
  .login-box p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-box p a {
    color: #0073AA;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-box p a:hover {
    text-decoration: underline;
  }
  #registroCarnet {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
  }
  